.wrap{
    max-width: 75rem;
    padding: 2.5rem;
    .line{
        width: 6.5625rem;
        height: 6px;
        background-color: #000;
    }
    .title{
        display: flex;
        justify-content: center;
        width: 100%;
        line-height: 1;
        padding-top: 1.25rem;
        font-family: "font-3", Arial, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        color: #000;
        margin: 0 0 .75em;
        font-size: 4rem;
    }
}