.wrap{
    position: absolute;
    background-color: #fff;
    border-top: 1px solid #DEDEDE;
    width: 100%;
    top: 100%;
    z-index: 99999;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}